.btn{
    width: 380px;
    height: 180px;
    border-radius: 20px;
    background-color: gainsboro;
    display: flex;
    position: relative;
    margin: auto;
    border-width: 4px;
    border-color: #4285F4 #EA4335 #FBBC05 #34A853;
}

svg{
    position: absolute;
}

.space{
    height: 300px;
}

.bar{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 5px;
    
}

.con{
    display: flex;
    height: 800px;
    
    align-items: flex-end;
}

.eg{
    background-color: #EA4335;
    height: 50px;
    width: 50px;
}